.section-team {
    text-align: center;
   
    .text {
        font-size: 24xp;
        max-width: 1000px;
        margin:  0 auto 80px;
    }
}

.team-row {
    display: flex;
    flex-wrap: nowrap;
    .col {
        max-width: 32%;
        padding: 0 10px;
        display: flex;
    }
}