


.subtitle {
    text-transform: capitalize;
    color: inherit;
    font-size: 24px;
}


.title {
    text-transform: capitalize;
    color: inherit;
    font-size: 40px;
}

.text {
    color: inherit;
    font-size: 24px;
}